*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}

@font-face {
  font-family: "My Font";
  font-weight: 200;
  src: url(/GTSectraDisplayRegular.ttf) format("truetype");
  
}

.logo img {
    position: absolute;
    float: left;
    top: 50px;
    left: 150px;
    width: 180px;
    height: auto;
}

header .headers {
    position: absolute;
    top: 50px;
    right: 100px;
    float: right;
}

header .headers ul {
    float: right;
    display: inline;
    text-decoration: none;
    color: aliceblue;
     padding: 5px 20px;
}
  
header .headers ul li {
    float: right;
    display: inline;
    text-decoration: none;
    color: aliceblue;
    padding: 5px 20px;
}
  
header .headers ul li a {
    float: right;
    display: inline;
    text-decoration: none;
    color: aliceblue;
    padding: 5px 20px;
}

header .headers ul li a {
    display: inline-block;
    position: relative;
    color: white;
}
  
header .headers ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
header .headers ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* drop down menu */
.wrapper{
  position: fixed;
  top: 0;
  /* left: -100%; */
  right: -100%;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: #000;
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper{
  /*left: 0;*/
  right:0;
}
.menu-btn{
  position: absolute;
  z-index: 3;
  right: 50px;
  /*left: 20px; */
  top: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  /* color: #fff; */
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #fff;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
  transform: translateY(-8px);
}
.menu-btn:after{
  transform: translateY(8px);
}


.close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
}

/* closing animation */
#active:checked + .menu-btn span {
    transform: scaleX(0);
}
#active:checked + .menu-btn:before {
    transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
    transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper ul{
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  height: 10%;
  margin: 15px 0;
}
.wrapper ul li a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
}

/* .wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff; */
   /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  /* width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
} */ */
/* .wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #1a73e8;
}
input[type="checkbox"]{
  display: none;
} */

#active:checked ~ .wrapper ul li a{
  opacity: 1;
}
.wrapper ul li a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a{
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
   transition-delay: .6s;
  transform: translateX(-100px);
}
/* drop down menu */

body p {
  
  color: #fff;
  font-size: calc(20.66667px + 3.06667vw);
  font-family: "My Font";
  font-weight: 100px;
}

/* checkbox hover  */
header nav ul li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

header nav ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* checkbox hover end */

section {
  height: 75vh;
}

.text1 {
  margin-top: 250px;
  margin-left: 250px;
  opacity: 80%;
}

/* gallery */
div.gallery {
  float: left;
  /* width: 634px; */
}

div.gallery img {
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
  margin-top: 50px;
  object-fit: cover;
}

div.desc {
  padding: 5px;
  padding-top: 25px;
  text-align: center;
  color:white;
}

.all {
  margin-top: -50px;
}

.all .flexi {
  display: flex;
}

div.desc h3{
  opacity: 80%;
}
/* gallery */

/* footer */
footer .bg {
  /* background-size: 100px 200px; */
  width: fit-content;
  height: 55vh;
  margin-top: 100px;
}

footer .bg img {
margin-left: 200px;
margin-top: 150px;
}

footer .bg .copy p {
margin-left: 200px;
margin-top: 22vh;
font-size: medium;
}

footer .bg .first {
  float: right;
  margin-top: -300px;
  margin-right: 450px;
  line-height: 40px;
}

footer .bg .second {
  float: right;
  margin-top: -300px;
  margin-right: 200px;
  line-height: 40px;
}

footer .bg .second a {
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  font-size: 22px;
}

footer .bg .first a {
  text-decoration: none;
  padding: 5px 20px;
  color: #fff;
  margin-top: 20px;
  font-size: 22px;
}

footer .bg .third {
  float: right;
  margin-top: -300px;
  margin-right: 700px;
}

footer .bg .third  p {
  margin-top: 20px;
  font-size: 22px;
  line-height: 40px;

}

footer .bg .first a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.bg .first a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* footer */